@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,800;1,400&display=swap");

:root {
  --accent: #222;
  --meta: #666;
  --link: #0984e3;
  --link-hover: #74b9ff;
  --background-color: #fff;
  --font-color: #000;
  --font-family: "Open Sans", sans-serif;
}

html {
  font-size: 130%;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var()
}

.footer {
  margin: 5rem 0rem;
}

.container {
  max-width: 45em;
  margin: 1rem auto;
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--accent);
  font-weight: 700;
  margin-bottom: 0;
}

img,
iframe {
  display: block;
  max-width: 90%;
  margin: 2rem auto;
}

p {
  font-size: 1rem;
  line-height: 2rem;
}

code {
  font-family: monospace;
  font-size: inherit;
  background: #efefef;
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: 0.1rem 0.3rem 0.2rem;
  border-radius: 0.2rem;
}

a {
  transition: all 0.2s ease;
  text-decoration: none;
  margin: 0rem;
}

a,
a:visited {
  color: var(--link);
  border-color: var(--link);
}

a:hover,
a:active {
  color: var(--hover);
  border-color: var(--hover);
}

li {
  margin-bottom: 1rem;
}

ul.post-list {
  list-style-type: none;
  padding-inline-start: 0;
}

ul.post-list li a {
  font-weight: 700;
  font-size: 1.25rem;
}

.meta {
  color: var(--meta);
  padding-top: 0.5rem;
}

ul.nav {
  margin: 0;
  padding-left: 0;
}

ul.nav li {
  float: left;
  padding: 0 1rem;
  list-style-type: '-';
}

ul.nav li.first {
  list-style-type: none;
  padding-left: 0;
}
