@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,800;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

:root {
  --accent: #0652DD;
  --link: #0652DD;
  --hover: #1B1464;
  --quiet: #5758BB;
  --quiet-link: #9980FA;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.container {
  max-width: 720px;
  margin: 25px auto;
}

.header {
  margin: 50px 0px;
}

.footer {
  margin: 100px 0px;
}

h1,
h2,
h3 {
  border-bottom: 10px solid !important;
  border-color: var(--accent);
  color: var(--accent);
  font-weight: 700;
  font-family: "Arvo", serif;
}

p {
  line-height: 2em;
}

a {
  transition: all 0.2s ease;
  text-decoration: none;
  margin: 0px;
  border-bottom: 3px solid var(--link);
}

a,
a:visited {
  color: var(--link);
  border-color: var(--link);
}

a:hover,
a:active {
  color: var(--hover);
  border-color: var(--hover);
}

.post-list ul {
  list-style-type: none;
  padding: 0;
}

.post-list ul li {
  margin-bottom: 10px;
}

.post-list ul li a {
  font-family: "Arvo", serif;
}

.post-list .meta {
  font-size: 12px;
  color: #636e72;
}
