@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,800;1,400&display=swap");

:root {
  --accent: #222;
  --link: #0984e3;
  --hover: #74b9ff;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.container {
  max-width: 720px;
  margin: 25px auto;
}

.header {
  margin: 50px 0px;
}

.footer {
  margin: 100px 0px;
}

h1,
h2,
h3 {
  color: var(--accent);
  font-weight: 700;
}

p {
  line-height: 2em;
}

a {
  transition: all 0.2s ease;
  text-decoration: none;
  margin: 0px;
}

a,
a:visited {
  color: var(--link);
  border-color: var(--link);
}

a:hover,
a:active {
  color: var(--hover);
  border-color: var(--hover);
}

.post-list ul {
  list-style-type: '📝';
  padding: 20px;
}

.post-list ul li {
  font-size: 1em;
  margin-bottom: 10px;
}

.post-list ul li a {
  font-weight: 700;
}

.post-title {
  font-size: 3em;
  margin: 0;
  line-height: 1em;
  color: var(--accent);
  font-weight: 700;
}

.meta {
  font-size: .75em;
  margin-left: 1em;
  color: var(--accent);
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    margin: 10px;
  }
}