.footer
    p #[a(href='/') Read more from Tyler], #[a(href='/rss') subscribe], #[a(href='https://twitter.com/compysando') follow him on Twitter], or #[a(href='https://sandwich.computer') listen to his podcasts].