.container #footer
  p
    i Written by Tyler Robertson
    | was written by Tyler Robertson.
  p 
    | You can
    a(href='https://twitter.com/compysando') follow him on Twitter
    | or
    a(href='https://sandwich.computer') listen to his podcasts.