.footer
  .quiet
    p This was written by Tyler Robertson. 
    p You can #[a(href='/') read more here], #[a(href='https://twitter.com/compysando') follow him on Twitter], or #[a(href='https://sandwich.computer') listen to his podcasts].