.footer
  .quiet
    p #[i That is all, I can now go to watch vine compilations in peace.] #[| <br>] - Tyler Robertson. 
    p You can #[a(href='/') read more from Tyler], #[a(href='https://twitter.com/compysando') follow him on Twitter], or #[a(href='https://sandwich.computer') listen to his podcasts].