.footer
  ul(class="nav")
    each val, key in site.footer
      li
       a(href= val) !{key}
       <script src="//code.tidio.co/eikuditlqqf8zs9k3k2l2zqwhokdvmsl.js" async></script>
p © 2021 Yusuf Keleş