html
  head
    title= title
    style
      include ../css/style.css
  body
    .header
      .container 
        .quiet 
          p This was written by Tyler Robertson. (#[a(href='/') back to home])