html
  head
    title=title
    style
      include ../css/style.css
    // Twitter
    meta(name="twitter:card" content="summary")
    meta(name="twitter:title" content=title)
    meta(name="twitter:description" content=content)
    meta(name="twitter:image" content=image)
  body