html
  head
    title=title
    style
      include ../css/style.css
    //- Twitter Meta Data
    meta(name="twitter:card" content="summary")
    meta(name="twitter:title" content=title)
    meta(name="twitter:description" content=content)
  body