doctype html
html
  include head.pug
  body
    .container
      include header.pug
      .content
        h1.title !{htmlTitle}
        span.meta !{meta}
        | !{html}
        include footer.pug
