<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or siteData.name }}</title>
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <p>Posted on {{ date.toLocaleDateString() }} </p>
    {{ content | safe }}
    <footer>
      Made by <a href="https://twitter.com/compysando">Tyler</a>.
      Go back to the <a href="/">homepage</a>.
    </footer>
  </body>
</html>